:root {
  --hy_logoBg: #009c84; /*Logo背景色*/
  --hy_element: #0bb2d4;
  --hy_headerBg: #0bb2d4;
  --hy_logoBg: #0bb2d4;
  --hy_silderActiveColor: #ffffff;
  --hy_silderColor: #8a979e;
  /* --hy_sliderBg: #263238; */
}
